*{
    padding: 0;
    margin: 0;
}
table{
    margin: 0 auto ;
    border-collapse: collapse;
}
table td{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
}
#guide{
    width: 450px;
    margin: 20px auto 0;
    text-align: center;
}
table tr:nth-child(n+2) td:nth-child(n+2){
    border: 1px solid #ccc;
}
table tr:nth-child(2) td:nth-child(n+2){
    border-top: 1px solid #000;
}
table tr:last-child td:nth-child(n+2){
    border-bottom: 1px solid #000;
}
table tr:nth-child(n+2) td:nth-child(2){
    border-left: 1px solid #000;
}
table tr:nth-child(n+2) td:last-child{
    border-right: 1px solid #000;
}
.block{
    background-color: red;
}
.block div{
    background-color: blue;
    height: 10px;
}