.input-warp{
    margin-top: 200px;
    width: 100%;
    height: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.input-warp span{
    font: 35px bold;
    margin-right: 15px;
}
#info-name{
    border: 2px solid #c9c9c9;
    height: 35px;
    width: 300px;
    border-radius:6px ;
    outline: none;
    margin-right:15px;
}
#btn-search{
    width: 75px;
    height: 40px;
    background: #2F79BA;
    font: 20px bold;
    color: #fff;
    outline: none;
    border: 2px solid #2F79BA;
    border-radius:6px ;
    margin-right:15px;
}
.name.tips{
    color: #aaa;

}
